/app/config/parameters.yml
/app/config/deploy.retry
/app/config/deploy_uat.retry
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/
.idea
/nbproject/private/