<h3>AVLABL XML file seems too small</h3>
<p>Hi!</p>
<p>The file {{ file }} is only {{ size }} bytes, which seems too small.</p>
<p>If you need to restore from a backup, please go to <a href="{{ url('avlabl_status') }}">AVLABL XML status</a> on the Utils site.</p>
<p>Thanks!</p>
<p><small>(If you don't want to receive e-mails like this, please let Anders Hal Werner know.)</small></p>
