{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
	<h1>Utilities for TravelCo Nordic </h1>
	<p class="lead">The purpose of this site is to help understand and work with the data we have available through our many different systems. The utilities on this page primarily rely on data from elsewhere and normally doesn't update anything.</p>
  
  <!--
  {% if ip_whitelisted %}
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Your IP address is whitelisted!</h4>
      <p>From the setup you currently have, you won't have issues connection to ATCORE's systems after the IP whitelisting is enforced.</p>
      <p class="mb-0">Please also check this page from other locations you might work from.</p>
    </div>
  {% else %}
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">IP address not whitelisted!</h4>
      <p>Currently the IP address you are working from isn't whitelisted and you won't have access to ATCORE after the IP whitelisting is enforced.</p>
      <p class="mb-0">If you are working from an official TravelCo Nordic location, please send the location information and your IP address ({{ ip_address }}) to TravelCo Nordic. If you are working from home connect using VPN or remote desktop and check again.</p>
    </div>
  {% endif %}
  -->
</div>
{% endblock %}