{# app/Resources/views/security/login-generic.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">

		{% if error %}
			<div class="alert alert-danger" role="alert">
			  <strong>Error</strong> {{ error }}
			</div>
		{% endif %}


    <form class="form-signin" action="{{ path('login') }}" method="post">
  		<div class="alert alert-danger" role="alert">
  		  <strong>Disabled</strong>
        You can't log in with the generic username/password any more. Use your e-mail address and password.
  		</div>
			<h2 class="form-signin-heading">Please sign in</h2>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" name="_username" value="{{ last_username }}" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="_remember_me" checked> Remember me
        </label>
      </div>
      <button class="btn btn-primary btn-block" type="submit">Sign in</button>
    </form>

  </div> <!-- /container -->
{% endblock %}